{% extends "frontend/main.html" %}
{% load social_share %}
{% load static %}
{% block link %}


<style>
    .sameline {
        display: inline-block;
    }
</style>

{% endblock %}

<!-- Active Navigation tab for Author -->
{% block Authactive %}active{% endblock %}


<!-- Opening Body Block -->
{% block body %}

<!-- Presentation View -->

<div class="page-header" data-parallax="true">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h1>
                        {{lst_details.0}}
                    </h1>

                    <h3 class="d-none d-md-block sameline">{{lst_details.1}}
                    </h3>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- End Presentation View -->

<!-- Content of Page  -->

<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="text-dark "><i class="fas fa-users"></i> <b>Quotes </b></h3>
                </div>
            </div>
            <hr>
            <div class="row">
                {% if lst_quotes %}
                {% for x in lst_quotes %}
                <div class="col-lg-4 col-md-4 col-sm-12  ">
                    <div class="card   p-3 text-left">
                        <blockquote class="blockquote mb-0">
                            <p>{{x}}.</p>
                            <footer class="blockquote-footer">
                                <small class="text-muted">
                                    <cite class="text-dark" title="Source Title"> {{lst_details.0}}</cite>
                                </small>
                            </footer>
                        </blockquote>
                        <div class="card-footer">
                            <span class="ml-6"><a href=""><i class=" fab fa-facebook-f ico text-danger "></i></a></span>
                            <span class="ml-auto"><a href="profile-page.html"><i
                                        class="fab fa-instagram ico text-dark"></i></a></span>
                            <span class="ml-auto"><a href="profile-page.html"><i
                                        class="fab fa-whatsapp ico text-danger"></i></a></span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-lg-12 text-center alert alert-danger" role="alert">
                    <h4>Sorry!! We Don't Have {{lst_details.0}} Quotes in Our Database</h4>
                </div>

                {% endif %}
            </div>
        </div>
        {% if lst_quotes %}
        <!--Pagination-->
        <nav aria-label="Page navigation example ">
            <ul class="pagination justify-content-center">
                {% if lst_quotes.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ lst_quotes.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% endif %}
                {% for i in lst_quotes.paginator.page_range %}
                {% if lst_quotes.number == i %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link bg-danger">
                        {{i}}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if lst_quotes.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ lst_quotes.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <br>
        <!--end of Pagination-->
        {% endif %}
    </div>

</div>

<!-- End Content Page  -->


{% endblock %}