{% extends "frontend/main.html" %}
{% load static %}
{% block link %}{% endblock %}

<!-- Active Navigation tab for Wishes -->
{% block Wishactive %}active{% endblock %}

{% block body %}

<!-- Presentation View -->

<div class="page-header" data-parallax="true">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h1>
                        Special Day Wishes
                    </h1>

                    <h3 class="d-none d-md-block sameline">Wish Your Loves One With Special Messages
                    </h3>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- End Presentation View -->

<!-- Content of Page  -->

<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <br>
            <h3 class="text-center text-danger"><b><i class="fas fa-cubes"></i> SELECT CATEGORIES <i
                        class="fas fa-cubes"></i></b></h3>
            <hr>
            <div class="row ">
                {% for sd in total_spcl_messages %}
                <div class="col-lg-3 col-md-4 col-sm-12  d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{sd.images.url}}" alt="Card image cap" width="30" height="200">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">{{sd.catagories}}</h5>
                            <a href="{% url 'Days' sd.catagories %}" class="btn btn bg-germi ">View Quotes</a>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br>

        </div>
        {% if total_spcl_messages %}
        <!--Pagination-->
        <nav aria-label="Page navigation example ">
            <ul class="pagination justify-content-center">
                {% if total_spcl_messages.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ total_spcl_messages.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% endif %}
                {% for i in total_spcl_messages.paginator.page_range %}
                {% if total_spcl_messages.number == i %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link bg-danger">
                        {{i}}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if total_spcl_messages.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ total_spcl_messages.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <br>
        <!--end of Pagination-->
        {% endif %}
    </div>

</div>

<!-- End Content Page  -->


{% endblock %}